:root {
    --p-color: #46312a;
  }
  /* =============================
     1. RESET STYLES 
  ================================ */
  
  /* line 5, ../sass/modules/_reset.scss */
  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  img,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  b,
  u,
  i,
  center,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td,
  article,
  aside,
  canvas,
  details,
  embed,
  figure,
  figcaption,
  footer,
  header,
  hgroup,
  menu,
  nav,
  output,
  ruby,
  section,
  summary,
  time,
  mark,
  audio,
  video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  
  /* line 15, ../sass/modules/_reset.scss */
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  menu,
  nav,
  section {
    display: block;
  }
  
  /* =============================
     2. GLOBAL STYLES
  ================================ */
  
  /* line 19, ../sass/modules/_reset.scss */
  
  /* line 23, ../sass/modules/_reset.scss */
  ol,
  ul {
    list-style: none;
  }
  
  /* line 27, ../sass/modules/_reset.scss */
  blockquote,
  q {
    quotes: none;
  }
  
  /* line 32, ../sass/modules/_reset.scss */
  blockquote:before,
  blockquote:after {
    content: "";
    content: none;
  }
  
  /* line 39, ../sass/modules/_reset.scss */
  q:before,
  q:after {
    content: "";
    content: none;
  }
  
  /* line 45, ../sass/modules/_reset.scss */
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  /* line 3, ../sass/modules/_content.scss */
  body {
    background: #fff;
    font-family: "Poppins";
    color: var(--p-color);
    font-size: 15px;
    overflow-x: hidden;
  }
  
  /* line 10, ../sass/modules/_content.scss */
  a {
    color: var(--p-color);
    text-decoration: none !important;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }
  
  /* line 16, ../sass/modules/_content.scss */
  a:hover {
    color: #ce9b58;
    text-decoration: none !important;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }
  
  /* line 22, ../sass/modules/_content.scss */
  button {
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }
  
  /* line 26, ../sass/modules/_content.scss */
  b,
  strong {
    font-weight: bold !important;
  }
  
  /* line 30, ../sass/modules/_content.scss */
  div,
  button,
  input,
  textarea,
  select {
    outline: none !important;
  }
  
  /* line 34, ../sass/modules/_content.scss */
  ul,
  li,
  ol {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  /* line 40, ../sass/modules/_content.scss */
  .no-padding {
    padding: 0px !important;
  }
  
  /* line 44, ../sass/modules/_content.scss */
  .no-weight {
    font-weight: 400 !important;
  }
  
  /* line 48, ../sass/modules/_content.scss */
  .bg-gray {
    background: #f1f1f1;
  }
  
  /* line 52, ../sass/modules/_content.scss */
  .bg-gray2 {
    background: #ebebeb;
  }
  
  .bg-gray3 {
    background: #ebf2f8;
  }
  
  /* line 56, ../sass/modules/_content.scss */
  p {
    color: var(--p-color);
    font-size: 16px;
    line-height: 24px;
    font-family: "Poppins", sans-serif;
  }
  
  /* line 63, ../sass/modules/_content.scss */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--p-color);
    margin: 0;
    font-family: "Poppins";
  }
  
  /* line 69, ../sass/modules/_content.scss */
  .video-wrap {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
  }
  
  /* line 78, ../sass/modules/_content.scss */
  .video-wrap iframe,
  .video-wrap object,
  .video-wrap embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
  }
  a,
  button {
    outline: none !important;
    text-decoration: none !important;
  
    font-family: "Poppins", sans-serif;
  }
  .error {
    color: tomato !important;
  }
  .success {
    color: rgb(60, 159, 87) !important;
  }
  .wrap {
    width: 90%;
    margin: 0 auto;
  }
  
  @-webkit-keyframes spinner-border {
    to {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
  @keyframes spinner-border {
    to {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
  .spinner-border {
    display: inline-block;
    width: 4rem;
    height: 4rem;
    vertical-align: text-bottom;
    border: 0.25em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: spinner-border 0.75s linear infinite;
    animation: spinner-border 0.75s linear infinite;
    position: relative;
    margin-bottom: -1px;
  }
  
  .spinner-border-sm {
    width: 1rem;
    height: 1rem;
    border-width: 0.2em;
    position: absolute;
  }
  
  @-webkit-keyframes spinner-grow {
    0% {
      -webkit-transform: scale(0);
      transform: scale(0);
    }
    50% {
      opacity: 1;
    }
  }
  
  @keyframes spinner-grow {
    0% {
      -webkit-transform: scale(0);
      transform: scale(0);
    }
    50% {
      opacity: 1;
    }
  }
  .was-validated .form-control:invalid,
  .form-control.is-invalid {
    border-color: #dc3545;
    padding-right: calc(1.5em + 0.75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
  }
  
  .was-validated .form-control:invalid:focus,
  .form-control.is-invalid:focus {
    border-color: #dc3545;
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
  }
  
  .was-validated textarea.form-control:invalid,
  textarea.form-control.is-invalid {
    padding-right: calc(1.5em + 0.75rem);
    background-position: top calc(0.375em + 0.1875rem) right
      calc(0.375em + 0.1875rem);
  }
  
  .was-validated .custom-select:invalid,
  .custom-select.is-invalid {
    border-color: #dc3545;
    padding-right: calc(0.75em + 2.3125rem);
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e")
        no-repeat right 0.75rem center/8px 10px,
      url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e")
        #fff no-repeat center right 1.75rem / calc(0.75em + 0.375rem)
        calc(0.75em + 0.375rem);
  }
  
  .was-validated .custom-select:invalid:focus,
  .custom-select.is-invalid:focus {
    border-color: #dc3545;
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
  }
  
  .was-validated .form-check-input:invalid ~ .form-check-label,
  .form-check-input.is-invalid ~ .form-check-label {
    color: #dc3545;
  }
  
  .was-validated .form-check-input:invalid ~ .invalid-feedback,
  .was-validated .form-check-input:invalid ~ .invalid-tooltip,
  .form-check-input.is-invalid ~ .invalid-feedback,
  .form-check-input.is-invalid ~ .invalid-tooltip {
    display: block;
  }
  
  .was-validated .custom-control-input:invalid ~ .custom-control-label,
  .custom-control-input.is-invalid ~ .custom-control-label {
    color: #dc3545;
  }
  
  .was-validated .custom-control-input:invalid ~ .custom-control-label::before,
  .custom-control-input.is-invalid ~ .custom-control-label::before {
    border-color: #dc3545;
  }
  
  .was-validated
    .custom-control-input:invalid:checked
    ~ .custom-control-label::before,
  .custom-control-input.is-invalid:checked ~ .custom-control-label::before {
    border-color: #e4606d;
    background-color: #e4606d;
  }
  
  .was-validated
    .custom-control-input:invalid:focus
    ~ .custom-control-label::before,
  .custom-control-input.is-invalid:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
  }
  
  .was-validated
    .custom-control-input:invalid:focus:not(:checked)
    ~ .custom-control-label::before,
  .custom-control-input.is-invalid:focus:not(:checked)
    ~ .custom-control-label::before {
    border-color: #dc3545;
  }
  
  .was-validated .custom-file-input:invalid ~ .custom-file-label,
  .custom-file-input.is-invalid ~ .custom-file-label {
    border-color: #dc3545;
  }
  
  .was-validated .custom-file-input:invalid:focus ~ .custom-file-label,
  .custom-file-input.is-invalid:focus ~ .custom-file-label {
    border-color: #dc3545;
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
  }
  